#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 10px;
    margin: 10px;
    -webkit-border-radius: 10px 50px 80px 150px;
    -moz-border-radius: 10px 50px 80px 150px;
    border-radius: 10px 50px 80px 150px; */
}
/* .arred{
    border-radius: 150px;
} */
#caixa2{
    width: 300px;
    height: 300px;
    background: #c97341;
}
#caixa-deg{
    width: 300px;
    height: 300px;
    /* background: url(../imagens/camera.png); */
    /* background: linear-gradient(96deg , #ccc,rgb(244, 150, 135)); */
    background: radial-gradient(rgb(251, 164, 164), rgb(250, 242, 242));
}
#caixa-deg h1{
    /* background: rgb(255, 255, 255, 0.5); */
}
#caixa-somb{
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 10px 10px 10px rgb(93, 89, 89);
}
#caixa-somb h1{
    color: white;
    /*text-shadow: -2px 5px #504c4c;*/
    text-shadow: 2px 5px 5px rgb(0, 0, 0, 0.8);
}