header{
    border: 1px solid black;
    padding: 10px;
}
nav{
    border: 1px solid red;
    background: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
}
footer{
    background: #ccc;
    padding: 5px;
    text-align: center;
}
article{
    width: 75%;
    height: 330px;
    background: #ab5656;
    color: white;
    padding: 10px;
    float: left;
}
section{
    border: 2px dotted #fff;
    
}
section span{
    font-size: 0.8em;
}
aside{
    width: 21%;
    height: 330px;
    padding: 10px;
    background: #977373;
    float: right;
}
.cl{
    clear: both;
}