/*Seletor universal - engloba todos os elementos da página*/
*{
    /*border: 1px dotted gray;*/
    font-family: 'Times New Roman', Times, serif;
}

/*Seletor de texto*/
h2{
    background-color: bisque;
}

/*Seletor de classe*/
.cor{
    color: brown;
}
p.cor{
    background-color: rgb(193, 188, 188);
}

/*Seletor ID*/
#cabecalho{
    color: rgb(7, 7, 179);
}

/*Seletor de filho - seleciona todos os elementos X que são filhos diretos de Y, ou seja, não pode ter outros elementos entre eles*/
li>a{
    text-decoration: none;
    color: orange;
}

/*Seletor descendente - seleciona todos os elementos X que estão dentro de Y, mesmo que haja outros elementos entre eles */
p a{
    text-decoration: none;
    color: red;
}

/*Seletor de irmão adjacente - seleciona apenas o primeiro elemento X depois do elemento Y especificado como referência*/
h3+p{
    color: green;
}
/*Seletor de irmão geral - seleciona todos os elementos após o irmão usado como referência, ou seja, eles precisam estar dentro do mesmo container pai, mas apenas os elementos que estão descritos após o irmão que é referência serão formatados*/
h1~p{
    color: blue;
}

.borda{
    border: 1px solid black;
}
body{
    width: 920px;
    margin: 0 auto;
}